/* -------------------------- */
/*     #RESETS                */
/* -------------------------- */

/* Box sizing  */

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.65;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

img,
picture {
    max-width: 100%;
    width: 100%;
    display: block;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* A11y */

@media screen and (prefers-reduced-motion: reduce) {
    *,
    *::after,
    *::before {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* -------------------------- */
/*     #UTILITY CLASSES        */
/* -------------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 80rem;
}

.sr-only {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* test  */
.box {
    background-color: blue;
    padding: 1em 3em;
}
